@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*{
    font-family: 'Open Sans', sans-serif;
}

button::-moz-focus-inner {
    border:0;
    padding:0;
}

#new-video-form{
    text-align: center;
    min-height: 50px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
#new-video-form button{
    height: 29px;
    width: 67px;
    border: 5px none;
}
input.video-url {
    height: 25px;
    width: 500px;
     border: 1px solid lightgray;
}
.description {
    font-size: 8pt;
    height: 69px;
    width: 300px;
}
.video-title{
    max-width: 300px;
    height: 50px;
    padding-left: 5px;
}
.video-container{
    padding: 30px;
    flex-shrink: 1;
    max-width: 300px;

}
#video-list{
    /*            display:flex;
                flex-wrap:wrap;
                 justify-content: space-around;*/
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;
}
iframe{
    max-width: 300px !important;
    max-height: 168px !important;
}
.overlay{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24% auto;
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    top:0;
}
.embededHtml{
    position: relative;
    max-width: 300px !important;
    max-height: 168px !important;
    overflow:hidden;
    cursor: pointer;
}
.embededHtml >img{
    margin-top: -9.2%;
    height: 100%;
    width: 100%;
}
.not-validatet{
    color:red;
}
.more-videos{
    width:100%;
    text-align: center;
    cursor: pointer;
}
.clock{

    width:10px;
    height:10px;
    background-size: 100% 100%; 
    display: inline-block;
    margin-right: 13px;
}
#error-message{
    color: red;
    font-size: 32pt;
}

